---
import { humanize } from '@/lib/utils/textConverter';
const { style } = Astro.props;
const className = Astro.props.class;

const paths = Astro.url.pathname.split('/').filter((x) => x);
let parts = [
	{
		label: 'Главная',
		href: '/',
		'aria-label': Astro.url.pathname === '/' ? 'page' : undefined,
	},
];

paths.forEach((label: string, i: number) => {
	// console.log(parts);
	const href = `/${paths.slice(0, i + 1).join('/')}`;
	label !== 'page' &&
		parts.push({
			label: humanize(label.replace(/[-_]/g, ' ')) || '',
			href,
			'aria-label': Astro.url.pathname === href ? 'page' : undefined,
		});
});
---

<nav aria-label="Breadcrumbs" class:list={['breadcrumbs', className]} style={style}>
	<div class="container">
		<ol class="list" role="list">
			{
				parts.map(({ label, ...attrs }, index) => (
					<li class="item" role="listitem">
						{index !== parts.length - 1 ? (
							<a class="link" {...attrs}>
								{label}
							</a>
						) : null}
					</li>
				))
			}
		</ol>
	</div>
</nav>

<style>
	.breadcrumbs {
		@apply bg-box text-blue fluid:rounded-3xl fluid:p-8  dark:bg-box-dark dark:text-white;
	}
	.container {
		@apply fluid:p-8;
	}
	.list {
		@apply flex items-center fluid:gap-0.5;
	}

	.item {
	}

	.link {
		@apply font-medium transition-colors fluid:px-3 fluid:py-0.5 fluid:text-2xl;
	}
</style>
