---
import { getEntry } from 'astro:content';
import { markdownify } from '@/lib/utils/textConverter';
import { Picture } from 'astro:assets';
import avatarPic from '../../assets/images/avatar-with-color-2.jpg';

const hero = await getEntry('sections', 'hero');

interface HeroBlock {
	heroBlock: {
		title: string;
		content: string;
		image: {
			alt: string;
		};
		button: {
			text: string;
			url: string;
		};
	};
}

const { heroBlock }: HeroBlock = hero.data;
const { style } = Astro.props;
const className = Astro.props.class;
// console.log(className);
---

<section class:list={['hero block', className]}>
	<div class="container">
		{
			heroBlock.image && (
				<figure class="figure rounded-full bg-gray">
					<Picture
						class="avatar h-full w-full rounded-full object-cover"
						src={avatarPic}
						width={112 * 3}
						height={112 * 3}
						alt={heroBlock.image.alt}
						loading="eager"
						formats={['avif', 'webp']}
						quality={60}
					/>
				</figure>
			)
		}
		<div class="content">
			{heroBlock.title && <h1 class="title">{heroBlock.title}</h1>}
			{heroBlock.content && <p class="text">{heroBlock.content}</p>}
		</div>
	</div>

	<style>
		.hero {
			@apply items-center text-pretty bg-box text-blue fluid:gap-3 fluid:rounded-3xl fluid:p-8 lg:fluid:px-12 lg:fluid:py-8 dark:bg-box-dark;
		}
		.container {
			@apply flex flex-wrap items-center gap-5 lg:gap-10;
		}
		.figure {
			@apply h-28 w-28 shrink-0 overflow-hidden rounded-full bg-box;
		}

		.content {
			/* @apply col-span-10; */
		}

		.title,
		.text {
			@apply m-0 font-medium tracking-normal leading-relaxed fluid:text-3xl lg:fluid:text-5xl xl:fluid:text-6xl dark:text-blue;
		}

		.text {
			@apply text-blue dark:text-gray;
		}
	</style>
</section>
