---
// import { Image } from "astro:assets";
import config from '@/config/config.json';
import { Icon } from 'astro-icon/components';

const className = Astro.props.class;
const basePath = config.site.base_path;
const pathname = Astro.url.pathname;
---

<a
	href={basePath}
	class:list={[
		'logo font-medium lowercase transition-colors fluid:text-lg',
		className,
		basePath === pathname ? 'logo--active' : 'dark:hover:text-light text-blue dark:text-white',
	]}
	aria-label="logo"
>
	<Icon name="logo-one" class="icon" />
	<style>
		.logo {
			@apply w-8 whitespace-nowrap text-blue;
		}
		.icon {
			@apply h-full w-full;
		}
	</style>
</a>
