---
// import config from '@/config/config.json';
import menu from '@/config/menu.json';

const mainNav = menu.main;
const { pathname } = Astro.url;
const className = Astro.props.class;

const { style } = Astro.props;
// console.log(Astro.props);
---

<div class:list={['nav', className]}>
	<button class="nav__open" title="Открыть меню">
		<span class="nav__open-line"></span>
		<span class="nav__open-line"></span>
		<span class="nav__open-line"></span>
	</button>
	<nav class="nav__container">
		<button class="nav__close" title="Закрыть меню">
			<span class="nav__close-line"></span>
			<span class="nav__close-line"></span>
			<span class="nav__close-line"></span>
		</button>

		<ul class="nav__list">
			{
				mainNav.map((item) => (
					<li class="nav__item">
						<a
							href={item.url}
							class:list={['nav__link', pathname.includes(item.url) ? 'nav__link--active' : '']}
						>
							{item.name}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</div>

<style>
	.nav {
		@apply ml-auto lg:ml-0;
		&__open {
			@apply ml-auto flex h-3.5 w-6 flex-col justify-between lg:hidden;
		}

		&__open-line {
			@apply h-0.5 w-full rounded-sm bg-dark dark:bg-white;
		}

		&__close {
			@apply ml-auto flex h-10 w-10 flex-col items-center justify-center rounded-lg border border-gray p-3 transition-colors lg:hidden;
			&:hover {
				@apply border-white transition-colors;

				.nav__close-line {
					@apply bg-white transition-colors;
				}
			}
		}

		&__close-line {
			@apply h-0.5 w-8 rotate-45 bg-dark transition-colors last-of-type:-rotate-45;
		}

		&__container {
			@apply absolute left-0 top-0 -translate-y-[200%] lg:static lg:flex lg:translate-y-[0%];
		}
		&__container--open {
			@apply bg-sky absolute z-10 h-screen w-full translate-x-[0%] translate-y-[0%] p-4 dark:bg-dark;
			.nav__list {
				@apply flex flex-col gap-6;
			}
			.nav__link {
				@apply px-0 hover:text-gray-dark fluid:text-[150px] dark:hover:text-white;
			}
			.nav__link--active {
				@apply text-dark hover:text-gray-dark dark:text-white;
			}
			.nav__close-line {
				@apply dark:bg-white;
			}
		}

		&__list {
			@apply hidden w-full lg:flex;
		}

		&__item {
		}

		&__link {
			@apply px-6 font-medium lowercase text-dark transition-colors hover:text-gray-dark dark:text-gray lg:dark:hover:text-gray-light;
		}

		&__link--active {
			@apply text-gray dark:text-gray-light;
		}
	}
</style>

<script>
	document.addEventListener('astro:page-load', () => {
		const openButton = document.querySelector('.nav__open');
		const closeButton = document.querySelector('.nav__close');
		const navContainer = document.querySelector('.nav__container');
		const navItem = document.querySelectorAll('.nav__item');

		openButton?.addEventListener('click', () => {
			navContainer?.classList.toggle('nav__container--open');
			navContainer?.classList.toggle('fade-in-bottom');
		});
		closeButton?.addEventListener('click', () => {
			navContainer?.classList.toggle('nav__container--open');
			navContainer?.classList.toggle('fade-in-bottom');
		});

		navItem.forEach((item) => {
			if (window.matchMedia('( max-width: 1024px)').matches) {
				item.addEventListener('click', () => {
					navContainer?.classList.toggle('nav__container--open');
					navContainer?.classList.toggle('fade-in-bottom');
				});
			}
		});
	});
</script>
