---
import { site } from '@/config/config.json';
import { getEntry } from 'astro:content';
import { Image, Picture } from 'astro:assets';

const offersData = await getEntry('sections', 'textads');

const { offers, title } = offersData?.data;
// const telegram = site.telegram;
// console.log(telegram);

console.log(title, offers);

// const randomIndex = Math.floor(Math.random() * offers.length);
// const randomOffer = offers[randomIndex];

const className = Astro.props.class;
---

<div
	class:list={[
		'flex flex-col border-b border-blue bg-box font-bold transition-colors text-xs fluid:py-5 lg:text-lg',

		className,
	]}
>
	<span class="title">{title}</span>
	<ul class="list">
		{offers.map((offer: string) => <li class="item">{offer}</li>)}
	</ul>
</div>

<style>
	.title {
		@apply mb-0 text-dark;
	}
	.list {
		@apply m-0 p-0 text-blue;
	}
</style>
