---

---


  <div class="ticker">
    <div
      class="ticker__container animate-marquee container mt-32 flex items-baseline gap-4 lg:mt-32"
    >
      <div
        class="ticker__title pb-12 pt-12 text-7xl tracking-tighter lg:pb-14 lg:text-9xl"
      >
        <span class="text-white">Это портфолио</span>
        <span class="text-gray">фронтендера</span>
        <span class="text-grayest">Igor Gorlov</span>

        <span class="text-white">Это портфолио</span>
        <span class="text-gray">фронтендера</span>
        <span class="text-grayest">Igor Gorlov</span>
      </div>
    </div>
  </div>
