---
import { getEntry } from 'astro:content';

const worksSection = await getEntry('sections', 'works');

import { Picture } from 'astro:assets';
import ProjectCard from './ProjectCard.astro';

const { style } = Astro.props;
const className = Astro.props.class;
const { title, frontend } = worksSection.data;
// console.log(title, frontend);

const { works } = frontend;
// console.log(works);
---

<section class:list={['works', className]} style={style}>
	<div class="container">
		<h2 class="works__title title">{title}</h2>

		<div class="works__list">
			{
				works.map((project: object, key: number) => {
					// console.log(project);

					let i = 1;
					return <ProjectCard data={project} class:list={`works__work`} />;
				})
			}
		</div>
	</div>
</section>

<style>
	.works {
		@apply grid bg-box text-blue fluid:gap-y-2 fluid:rounded-3xl fluid:px-12 fluid:py-5 lg:fluid:py-10  dark:bg-box-dark dark:text-white;
		&__title {
			/* @apply font-medium fluid:mb-10  fluid:text-4xl lg:fluid:mb-20 lg:fluid:text-5xl; */
		}
		&__list {
			/* @apply grid grid-cols-1 fluid:gap-2 lg:grid-cols-1; */
		}
	}
</style>
