# build output
.output/
.json/
dist

# dependencies
node_modules/
.php
.git
.idea
.vscode

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
package-lock.json


# ignore content folder for make commit exceeded 2 gb

# src
# src/assets/images/a*
# src/assets/images/b*
# src/assets/images/c*
# src/assets/images/d*
# src/assets/images/e*
# src/assets/images/f*
# src/assets/images/g*
# src/assets/images/h*
# src/assets/images/v*
# src/assets/images/y*
# src/assets/images/x*
# src/assets/images/z*

# src/assets/images/o*
# src/assets/images/0*
# src/assets/images/1*
# src/assets/images/2*
# src/assets/images/3*
# src/assets/images/4*
# src/assets/images/5*
# src/assets/images/6*
# src/assets/images/7*
# src/assets/images/8*
# src/assets/images/9*
# src/content
# public



# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# ignore .astro directory
.astro

